<footer>
    <div class="footer-area d-print-none">
        <p>Hasinjato M. © Copyright 2024. All right reserved. Template by <a
                href="https://colorlib.com/wp/">Colorlib</a>.</p>
    </div>
</footer>